<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Document</title>
</head>
<body>
<p th:text="'Hi 👋' + ${user.firstName} + '!'"></p>
<p>Você solicitou uma redefinição de senha. Clique no link abaixo para redefinir sua senha.</p>
<p>O Link tem a validade de 10 minutos </p>
<a th:href="@{${link}}">Redefinir Senha</a>
</body>
</html>